asgiref
crispy-bootstrap5
dj-database-url
Django
django-ckeditor
django-crispy-forms
django-environ
django-js-asset
face-recognition-models
numpy
opencv-python
Pillow
psycopg2
pygame
sqlparse
typing_extensions
tzdata